{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Email: {{ user.email }}</p>
    <p>You are logged in ✅</p>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Profile</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
{% endblock %}



